*.tfstate
*.tfstate.backup
.terraform*
terraform.tfvars
terraform.*.tfvars
*.terraformrc
.terraform.lock.hcl

plan.json
plan.out

# macOS Finder Prefs
.DS_Store

# Sonar work files
.scannerwork

# Jetbrains IDE files
.idea
